<nav>
  <div class="content-wrapper">
    <img class="cyberoutcomes-logo" src="/assets/logo2.png" alt="Cyber Outcomes Logo" />
    <img class="tu-logo" src="/assets/tu_logo.png" alt="Towson University Logo" />
  </div>
</nav>

<section class="table-wrapper">
  <mat-table [dataSource]="guidelines" class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> ID. </mat-header-cell>
      <mat-cell *matCellDef="let guideline"> {{guideline.id}} </mat-cell>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let guideline"> {{guideline.name}} </mat-cell>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="outcome">
      <mat-header-cell *matHeaderCellDef> Outcome </mat-header-cell>
      <mat-cell *matCellDef="let guideline"> {{guideline.outcome}} </mat-cell>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
      <mat-cell *matCellDef="let guideline"> {{guideline.date}} </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</section>
<section class="outcome-search">
  <div class="wrapper">
    
  </div>
</section>