nav {
  background-color: white;
  padding: 20px;
  margin-bottom: 50px;
  box-shadow: 0px 1px 10px #999;
  .content-wrapper {
    max-width: 1080px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    .tu-logo {
      height: 35px;
    }
    .cyberoutcomes-logo {
      height: 50px;
    }
  }
}
.outcome-search {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  .wrapper {
    width: 600px;
  }
}
.table-wrapper {
  max-width: 1800px;
}